<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="FNCEURL" value="http://p8devwp.kci.com:7002/wsi/FNCEWS40MTOM"/>
      <add key="CEOS" value="ADVCTRDEV"/>    
      <add key="CEUSER" value="CE_OS_ADM_DV"/>
      <add key="CEPWD" value="F@ctor99"/>
      
      <!--<add key="FNCEURL" value="http://amxp08ap02.kci.com:7002/wsi/FNCEWS40MTOM"/>
      <add key="CEOS" value="ADVCTR"/>
      <add key="CEUSER" value="CE_OS_ADM_PRD"/>
      <add key="CEPWD" value="A7h@8dp"/>-->
      
      <add key="ANC" value="\\AMWPVPUT01\AmerTransfer\DME\Aeorflow\IMAGES"/>
      <add key="sunftp" value="\\AMWPVPUT01\AmerTransfer\DME\SunMed\IMAGES"/>
      <add key="workingDir" value="c:\temp\stage"/>
      <add key="delimeter" value="|"/>
      <add key="RO_ZeroBasedIndex" value="2"/>
      <add key="DocID_ZeroBasedIndex" value="7"/>  
      <add key="Logs" value="c:\temp"/>
    </appSettings>
  
    <connectionStrings>
      <add name="dbConnect" connectionString="Data Source=G12TST1; User ID=workflow; Password=pdftif;"/>
    </connectionStrings>   
</configuration>