<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="FNCEURL" value="http://amxp08ap02.kci.com:7002/wsi/FNCEWS40MTOM"/>
      <add key="CEOS" value="ADVCTR"/>
      <add key="CEUSER" value="CE_OS_ADM_PRD"/>
      <add key="CEPWD" value="A7h@8dp"/>
      <add key="aeroftp" value="\\AMWPVPUT01\AmerTransfer\DME\Aeorflow"/>
      <add key="sunftp" value="\\AMWPVPUT01\AmerTransfer\DME\SunMed"/>
      <add key="workingDir" value="c:\temp\stage"/>
      <add key="delimeter" value="|"/>
      <add key="RO_ZeroBasedIndex" value="2"/>
      <add key="DocID_ZeroBasedIndex" value="7"/>
    </appSettings>
        
  <!--<appSettings>
    <add key="FNCEURL" value="http://amxp08ap02.kci.com:7002/wsi/FNCEWS40MTOM"/>
    <add key="CEOS" value="ADVCTR"/>
    <add key="CEUSER" value="CE_OS_ADM_PRD"/>
    <add key="CEPWD" value="A7h@8dp"/>
    <add key="FNCEURL" value="http://p8devwp.kci.com:7002/wsi/FNCEWS40MTOM"/>
      <add key="CEOS" value="ADVCTRDEV"/>    
      <add key="CEUSER" value="CE_OS_ADM_DV"/>
      <add key="CEPWD" value="F@ctor99"/>
  </appSettings>-->
    
</configuration>